<% @page_title = t('.title') %>
<% attribute = ['activerecord','attributes','admin/result'] %>
<div class="contents clearfix">
  <div class="heading">
    <h1><%= @page_title %></h1>
  </div>
  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <table>
    <thead>
      <tr>
        <th><%= t :date, scope: attribute %></th>
        <th><%= t :game, scope: attribute %></th>
        <th><%= t :division, scope: attribute %></th>
        <th><%= t :full_name, scope: attribute %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% counts_1 = rowspan_calc(@results,['game','id']) %>
      <% counts_2 = rowspan_calc(@results,['division','id']) %>
      <% row = 0; idx_1 = 0; idx_2 = 0 %>
      <% @results.each do |result| %>
      <tr>
        <% if counts_1.include?(row) %>
        <% num_1 = counts_1[idx_1+1] - counts_1[idx_1] %>
        <%= content_tag :td, result.date, rowspan: "#{num_1}" %>
        <%= content_tag :td, result.game.game, rowspan: "#{num_1}" %>
        <% idx_1 = idx_1 + 1 %>
        <% end %>
        <% if counts_2.include?(row) %>
        <% num_2 = counts_2[idx_2+1] - counts_2[idx_2] %>
        <%= content_tag :td, result.division.div, rowspan: "#{num_2}" %>
        <% idx_2 = idx_2 + 1 %>
        <% end %>
        <th><%= result.member.full_name %></th>
        <td><%= link_to t('general.show'), admin_result_path(result) %></td>
        <td><%= link_to t('general.edit'), edit_admin_result_path(result) %></td>
        <td><%= link_to t('general.delete'), admin_result_path(result), method: :delete, data: { confirm: t('general.delete_confirm') } %></td>
      </tr>
      <% row = row + 1 %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @results %>
  <%= link_to "#{t('general.new',{model: "#{t('activerecord.models.admin/result')}"})}", new_admin_result_path, class: 'btn btn-default' %>
</div>


</div>
