<% @page_title = "TOPIC 『#{@topic.title}』"%>
<div class="contents">
  <div class="heading">
    <h1>TOPIC</h1>
  </div>
  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <h2><%= @topic.title %>（<%= time_tag @topic.date, @topic.date.strftime('%Y/%m/%d') %>）</h2>
  <% if @topic.path && File.exist?("public/#{@topic.path}") %>
  <%= image_tag "/#{@topic.path}", height: 240 %>
  <% end %>
  <h3 class="topic-heading"><%= t('.body') %></h3>
  <%= simple_format(@topic.body, class: 'topic-body') %>
  <% if @topic.game.present? %>
  <h3 class="topic-heading"><%= t('.result') %></h3>
  <% unless @topic.game.results.empty? %>
    <%= content_tag :table, class: "result" do %>
      <caption class="title">
        <%= time_tag @topic.game.date, @topic.game.date %>
        <%= @topic.game.game %>
      </caption>
      <% case @topic.game.game_type
         when 1 %><%= render 'shared/result/triathlon', game: @topic.game %>
      <% when 2 %><%= render 'shared/result/duathlon', game: @topic.game %>
      <% when 3 %><%= render 'shared/result/3part-aqathlon', game: @topic.game %>
      <% when 4 %><%= render 'shared/result/2part-aqathlon', game: @topic.game %>
      <% end %>
    <% end %>
  <% else %>
  <%= content_tag :div, "#{t('.in_preparation')}", class: 'prepare' %>
  <% end %>
  <% end %>
  <%= link_to t('general.edit'), edit_admin_topic_path(@topic), class: 'btn btn-default' %>
  <%= link_to t('general.back'), admin_topics_path, class: 'btn btn-default' %>
  <%= link_to t('general.new',{model: "#{t('activerecord.models.admin/topic')}"}), new_admin_topic_path, class: 'btn btn-default' %>
</div>
