<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.prohibited',{model: "#{t('activerecord.models.admin/school')}", count: school.errors.count}) %></h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :school %>
    <%= form.text_field :school, id: :school_school, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
