<% @page_title = t('.title') %>
<% college_type = @school.id <= 10 ? "学類" : "専攻" %>
<div class="contents">
  <div class="heading">
    <h1><%= @page_title %></h1>
  </div>
  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <h2><%= @school.school %></h2>
  <table>
    <caption>
      <%= college_type %>一覧
    </caption>
    <thead>
      <tr>
        <th><%= college_type %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @school.colleges.each do |college| %>
      <tr>
        <th><%= college.college %></th>
        <td><%= link_to t('general.show'), admin_college_path(college) %></td>
        <td><%= link_to t('general.edit'), edit_admin_college_path(college) %></td>
        <td><%= link_to t('general.delete'), admin_college_path(college), method: :delete,
          data: { confirm: "#{t('general.delete_confirm')}"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('general.edit'), edit_admin_school_path(@school), class: 'btn btn-default' %>
  <%= link_to t('general.back'), admin_schools_path, class: 'btn btn-default' %>

</div>
