<% @page_title = t('.title') %>
<div class="contents">
  <div class="heading">
    <h1><%= @page_title %></h1>
  </div>
  <% if notice %><div id="notice"><%= notice %></div><% end %>
  <%= image_tag "/#{@image.full_path}" %>
  <% t('activerecord.attributes.admin/image.image_target') %>
  <p><%= @image.image_target.target_str %></p>

  <%= link_to t('general.edit'), edit_admin_image_path(@image), class: 'btn btn-default' %>
  <%= link_to t('general.back'), admin_images_path, class: 'btn btn-default' %>
</div>
